MONGO_URI=your_mongodb_atlas_connection_string
JWT_SECRET=your_super_secret_jwt_key_here_make_it_long_and_random
PORT=5000
ALLOWED_ORIGINS=https://college-club-management-project-8vu.vercel.app,https://college-club-management-project-e2hba6sxt.vercel.app
# CORS_ALLOW_ALL=true
